<html>
    <body>
        
        <div id="header" th:fragment="header">
            
            <div class="jumbotron jumbotron-fluid cabecera" >
                <div class="container">
                    
                    <h1 class="display-4">Tienda OnLine</h1>
                    <p class="lead">Productos y Servicios</p>
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">Tienda OnLine</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Clientes
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/cliente/nuevo">Nuevo</a>
                                <a class="dropdown-item" href="#">Modificación</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/cliente/listado">Listado</a>
                              </div>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Productos
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/producto">Nuevo</a>                                
                                <a class="dropdown-item" href="#">Modificación</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Listado</a>
                              </div>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link text-white" href="/compra/nuevo">Compras</a>
                            </li>
                          </ul>
                          <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda</button>
                          </form>
                        </div>
                    </nav>
                </div>                
            </div>
        </div>        
    </body>
</html>
